<p>board works!</p>

<div *ngFor="let i of foo; let k = index" class="div_board">
  <app-cell>

  </app-cell>
</div>

<div class="reset-btn">
  <button type= "button" (click)="reset($event)">Reset</button>
</div>
