.btn-default{
  height: 200px;
  width: 200px;
  border: 1px solid black;
  background-color: red;
}

.btn-change{
  height: 200px;
  width: 200px;
  border: 1px solid black;
  background-color: white;
}

